<div class="page-header"><h2>All about the Big Nerd Company  <small>Rails is Awesome</small></h2></div>

<p>
  Hello <%= @name %>!
  </p>

<p>
  We're a great company. We've been producting high-quality widgets since
  <%= @year %>.
</p>
