<div class="page-header"><h1>More Information  <small>Rails is Awesome</small></h1></div>

<form action="/about/thank_you">
  <p>What is your full name?</p>
  <input id="full_name" name="full_name" type="text" />

  <p>What if your favorite color?</p>
  <select id="color" name="color">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
  </select>

  <p>Thank you for your input!</p>

  <input name="commit" type="submit" value="Submit" />
</form>
