<div class="page-header"><h2>Thank You  <small>Rails is Awesome</small></h2></div>

<p>Thank you, <%= @user.name %>, for telling us more about yourself.</p>

<p>We hope that you enjoy the Widget Manager application.</p>
