<html>
  <head>
    <title>Big nerd Company - Widget Manager in Red</title>
  </head>
  <body style="background-color:red; color:white">
    <h1>The (Red) Widget Manager</h1>
    <%= yield %>
  </body>
</html>
